@font-face { 
	font-family: 'Press Start 2P'; 
	src: url('../fonts/PressStart2P-Regular.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'VT323'; 
	src: url('../fonts/VT323-Regular.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
* {
	box-sizing: border-box;
}
body {
	width: 100%; 
	min-height: 100%;
	position: absolute;
	font-family: 'Press Start 2P', cursive;
	background-color: #000000;
	color: #00B945;
	font-size: 14px;
}



/* INFO PAGE */
.infopage {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	animation-name: loading;
	animation-duration: 2.5s;
}
@keyframes loading {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
.title {
	width: 100%;
	text-align: center;
	margin: 50px 0;
}
.title__logo {
	font-size: 2.2em;
	text-shadow: 2px 2px 0 #000000, 3px 3px 0 #FFFFFF;
	text-transform: uppercase;
	color: #B12C49;
	line-height: 1.5;
}
.mission {
	width: 90%;
}
.mission p {
	font-family: 'VT323', cursive;
	font-size: 2em;
}
.mission__title,
.worksheet__hero--title,
.worksheet__background--title,
.worksheet__form--title {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.2em;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #000000, 1.5px 1.5px 0 #FFFFFF;
	line-height: 1.5;
}
.worksheet {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
}
.worksheet__hero {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 35px;
}
.worksheet__hero--first,
.worksheet__hero--second {
	width: 200px;
	height: 150px;
	box-shadow : 0 0 30px 20px black inset;
	margin: 20px;
}
.worksheet__hero--first {
	background: url(../images/hero1.gif);
	background-position: 0% 0%;
}
.worksheet__hero--second {
	background: url(../images/hero2.gif);
	background-position: 0% 0%;
}
input[type="radio"] {
	width: 20px; 
	height: 20px;
	cursor: pointer;
}
.worksheet__background {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 35px;
}
.worksheet__background--first,
.worksheet__background--second,
.worksheet__background--third,
.worksheet__background--fourth {
	width: 250px;
	height: 200px;
	box-shadow : 0 0 30px 20px black inset;
	margin: 20px;
}
.worksheet__background--first {
	background: url(../images/bg1.gif);
	background-position: 50% 50%;
}
.worksheet__background--second {
	background: url(../images/bg2.gif);
	background-position: 60% 80%
}
.worksheet__background--third {
	background: url(../images/bg3.gif);
	background-position: 45% 15%;
}
.worksheet__background--fourth {
	background: url(../images/bg4.gif);
	background-position: 100% 40%;
}
.worksheet__form {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 35px 0 20px 0;
}
.worksheet__form input[type=text] {
	width: 120px;
	height: 35px;
	outline: none;
	margin: 20px;
	border: 1px solid #B12C49;
	border-radius: 5px;
	font-family: 'VT323', cursive;
	font-size: 1.5em;
	text-align: center;
	color: #B12C49;
	background-color: #000000;
}
.worksheet__form input[type=text]:focus {
	background-color: #FFFFFF;
}
.worksheet__form--button,
.feedback__input--button,
.winnerpage__button {
	width: 120px;
	height: 35px;
	position: relative;
	font-family: 'Press Start 2P', cursive;
	margin-left: 20px;
	padding: 12px 25px;
	background-color: #B12C49;
	color: #FFFFFF;
	cursor: pointer;
	transition: .5s ease all;
	text-shadow: 1px 1px 0 #000000;
	outline: none;
	border: none;
}
.worksheet__form--button {
	margin: 20px;
}
.worksheet__form--button:hover,
.feedback__input--button:hover {
	background: #000000;
	color: #00B945;
	text-shadow: 0.5px 0.5px 0 #FFFFFF;
}
.worksheet__form--button:before, 
.worksheet__form--button:after,
.feedback__input--button:before, 
.feedback__input--button:after {
	content: '';
	width: 0;
	height: 1px;
	position: absolute;
	top: 0;
	right: 0;
	background: #00B945;
	transition: .25s ease all;
}
.worksheet__form--button:after,
.feedback__input--button:after {
	top: inherit;  
	right: inherit;
	left: 0;
	bottom: 0;
}
.worksheet__form--button:hover:before,
.worksheet__form--button:hover:after,
.feedback__input--button:hover:before,
.feedback__input--button:hover:after {
	width: 100%;
	transition: .25s ease all;
}
/* end INFO PAGE */



/* GAME PAGE */
.gamepage {
	display: none; 
	position: absolute;
	width: 100%;
	height: 100%;
	color: #B12C49;
	text-shadow: .5px .5px 0 #FFFFFF;
	animation-name: loading;
	animation-duration: 2.5s;
}
.field {
	width: 800px;
	height: 336px;
	position: relative;
	top: calc( 50% - 336px/2 - 150px/2 );
	left: calc( 50% - 400px );
}
/* hero 1 */
#hero1 {
	transform: scale(2);
	position: absolute;
	top: 220px;
	left: 340px;
	width: 75px; 
	height: 75px;
	background: url(../images/hero1.png);
	background-position: 0px -80px;
}
#hero1.active1_hero1 {
	animation: punch1 .1s steps(3) infinite;
}
#hero1.active2_hero1 {
	animation: protect1 .2s steps(2) infinite;
}
#hero1.active3_hero1 {
	animation: lost1 .1s steps(2);
	animation-fill-mode: forwards;
}
@keyframes punch1 {
    from { background-position: 10px -80px; }
    to { background-position: -205px -80px; }
}
@keyframes protect1 {
    from { background-position: 0px 0px; }
    to { background-position: 5px -80px; }
}
@keyframes lost1 {
    50% { background-position: 0px -80px; }
    70% { background-position: -152px 0px; 
		  left: 300px; }
	100% { background-position: -152px 0px; 
		   left: 250px; }
}
/* hero 2 */
#hero2 {
	transform: scale(2);
	position: absolute;
	top: 230px;
	left: 410px;
	width: 80px; 
	height: 75px;
	background: url(../images/hero2.png);
	background-position: -100px -72px;
}
#hero2.active1_hero2 {
	animation: punch2 .1s steps(2) infinite;
}
#hero2.active2_hero2 {
	animation: protect2 .1s steps(2) infinite;
}
#hero2.active3_hero2 {
	animation: lost2 .1s steps(2);
	animation-fill-mode: forwards;
}
@keyframes punch2 {
    from { background-position: -270px -72px; }
    to { background-position: -100px -72px; }
}
@keyframes protect2 {
    from { background-position: -100px 0px; }
    to { background-position: -270px -72px; }
}
@keyframes lost2 {
    50% { background-position: -90px 0px; }
    70% { background-position: -5px 0px; 
		  left: 450px; }
	100% { background-position: -5px 0px; 
           left: 475px; }
}
/* data */
.data {
	width: 800px;
	position: absolute;
	top: 0;
	left: 0;
}
.data__hero1 {
	position: absolute;
	top: 5px;
	left: 5px;
}
.data__hero1--face {
	width: 90px;
	height: 90px;
	position: absolute;
	border-radius: 50%;
	background-image: url(../images/face1.gif);
	background-color: #000000;	
	box-shadow: 0 0 10px 5px #00B945 inset;
	z-index: 1;
}
.data__hero1--name {
	width: calc( 100% - 90px );
	height: 30px;
	position: absolute;
	top: 5px;
	left: 95px;
	font-size: 20px;
	color: #FFFFFF;
	text-shadow: 2px 2px 0 #000000;
	text-transform: uppercase;
}
.data__hero1--life {
	width: 0;
	height: 30px;
	position: absolute;
	top: calc( 90px/2 - 30px/2 );
	left: 85px;
	background: linear-gradient(to right, rgba(0,0,0,0.1), #00B945);
}
.data__hero2 {
	width: calc( 50% - 5px );
	position: absolute;
	top: 5px;
	left: 50%;
}
.data__hero2--face {
	width: 90px;
	height: 90px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	background-image: url(../images/face2.gif);
	background-color: #000000;	
	box-shadow: 0 0 10px 5px #00B945 inset;
	z-index: 1;
}
.data__hero2--name {
	height: 30px;
	position: absolute;
	top: 5px;
	right: 95px;
	font-size: 20px;
	color: #FFFFFF;
	text-shadow: 2px 2px 0 #000000;
	text-transform: uppercase;
}
.data__hero2--life {
	width: 0;
	height: 30px;
	position: absolute;
	top: calc( 90px/2 - 30px/2 );
	right: 85px;
	background: linear-gradient(to left, rgba(0,0,0,0.1), #00B945);
}
.versus {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 15px;
	right: calc( 50% - 70px/2 );
	border-radius: 50%;
	background: radial-gradient(circle at 55% 15%, #00B945, black);
	box-shadow: 0 3px 3px rgba(0,0,0,0.5), 0 -7px 7px rgba(255,255,255,0.5);
	z-index: 1;
	color: #FFFFFF;
	text-align: center;
	padding-top: 30px;
}
.versus span {
	text-shadow: 2px 2px 0 #000000;
}
/* feedback */
.feedback {
	width: 800px;
	height: 150px;
	position: relative;
	top: calc( 50% - 336px/2 - 150px/2 );
	left: calc( 50% - 400px );
}
.feedback__message {
	width: 100%;
	height: 20px;
	position: absolute;
	top: 50px;
	left: 0px;
	font-size: 1.4em;
	letter-spacing: 3px;
	text-align: center;
	width: 800px;
	white-space: nowrap;
	overflow: hidden;
	display: none; 
}
.feedback__message.active {
	display: block;
	-webkit-animation: typing 1s steps(50, end);					   
}
@-webkit-keyframes typing { 
	from { width: 0; } 
}
.feedback__input {
	width: 210px;
	height: 35px;
	position: absolute;
	top: 110px;
	left: calc( 50% - 105px );
}
.feedback__input--field  {
	width: 50px;
	height: 35px;
	padding-top: 3px;
	outline: none;
	border: none;
	border-radius: 5px;
	font-family: 'VT323', cursive;
	font-size: 1.5em;
	text-align: center;
	color: #000000;
	background-color: #FFFFFF;
}
/* --- media queries GAME PAGE --- */
@media screen and (max-width: 800px) {
	.gamepage {
		transform: scale(0.75);
	}
}
@media screen and (max-width: 600px) {
	.gamepage {
		transform: scale(0.5);
	}
	.feedback__input {
		width: 315px;
		height: 52.5px;
		left: calc( 50% - 157.5px );
	}
	.feedback__input--field  {
		width: 75px;
		height: 52.5px;
		font-size: 2.5em;
	}
	.feedback__input--button {
		width: 180px;
		height: 52.5px;
		font-size: 1.5em;
	}
}
@media screen and (max-width: 400px) {
	.gamepage {
		transform: scale(0.35);
	}
}
/* end GAME PAGE */



/* WINNER PAGE */
.winnerpage {
	width: 100%;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	top: 50%;
	margin-top: -310px;
	animation-name: loading;
	animation-duration: 2.5s;
}
.winnerpage__title {
	width: 100%;
	margin-bottom: 50px;
	font-size: 1.5em;
	text-shadow: 1px 1px 0 #000000, 1.5px 1.5px 0 #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.5;
	-webkit-animation: title_blink .5s linear infinite;
	animation: title_blink .5s linear infinite;
}
@keyframes title_blink {
	100% { color: #FFFFFF; 
		   text-shadow: 2px 2px 0 #FFFFFF; }
}
@-webkit-keyframes title_blink {
	100% { color: #FFFFFF; 
		   text-shadow: 2px 2px 0 #FFFFFF; }
}
.winnerpage__winner {
	width: 250px;
	height: 380px;
	margin-bottom: 50px;
	box-shadow : 0 0 30px 30px black inset;
	background-position: 0% 0%;
}
.winnerpage__message {
	width: 100%;
	margin-bottom: 50px;
	font-size: 1.4em;
	letter-spacing: 3px;
	text-align: center;
	color: #B12C49;
	text-shadow: 1px 1px 0 #000000, 2px 2px 0 #FFFFFF;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	top: 500px;
}
.winnerpage__message.active {
	-webkit-animation: typing 3s steps(50, end);
}
.winnerpage__button {
	width: 200px;
	height: 50px;
	position: absolute;
	top: 570px;
	margin-left: 0;
}
.winnerpage__button:hover {
	background-color: #00B945; 
}
/* --- media queries WINNER PAGE --- */
@media screen and (max-width: 700px) {
	.winnerpage {
		transform: scale(0.75);
	}
	.winnerpage__message {
		width: 125%;
	}
}
@media screen and (max-width: 580px) {
	.winnerpage {
		transform: scale(0.5);
	}
	.winnerpage__message {
		width: 175%;
	}
	.winnerpage__message,
	.winnerpage__button {
		margin-top: 50px;
	}
}
@media screen and (max-width: 400px) {
	.winnerpage__message {
		font-size: 1.1em;
	}
}
/* end WINNER PAGE */